--constraint constraints.txt
numpy
torch==2.1.0
torchaudio==2.1.0
soundfile==0.12.1
fastapi==0.103.0
uvicorn==0.23.1
python-multipart==0.0.6
huggingface_hub==0.23.2
openai==1.37.0
pyannote.audio==2.1.1
